.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}

.block {
  background-color: #f0f0f0;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.block:hover {
  transform: translateY(-5px);
}

.block img {
  width: 100%;
  height: auto;
  border-radius: 8px 8px 0 0;
}

.block-info {
  padding: 20px;
}

.block-info h3 {
  margin: 0;
  font-size: 1.5rem;
  color: #333;
}

.block-info p {
  margin: 10px 0 0;
  font-size: 1rem;
  color: #666;
}

.faculty_table{
  background-color: #4caf50;
  border: 5px solid green;
}